<div class="row">
  <div class="large-6 large-offset-3 columns">
    <% if @user.errors.any? %>
      <div class="callout alert" id="error_explanation">
        <h4>
          <%= pluralize(@user.errors.count, "error") %> prohibited this application from being saved:
        </h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render "form" %>

    <br>
    <a href="/users" class="button">Back</a>
  </div>
</div>
