<div class="row">
  <div class="large-6 large-offset-3 columns">

    <%= simple_form_for :leave_type do |f| %>
      <%= f.input :name, placeholder: 'e.g. Annual, Sick' %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
