<h4>Calendar</h4>
<div>
  <%= month_calendar events: @leaves do |date, leave_applications| %>
    <%= date.mday %>

    <% if !date.saturday? && !date.sunday? %>
      <% leave_applications.each do |leave_application| %>
        <div>
          <%= leave_application.user.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
